
footer p {
  padding: 10px;
}

#voltar-topo {
    position: fixed;
    bottom: 5px;
    right: 50px;
}

#section-login{
    margin-top: 100px;
}

#section-login h1{
    text-align: center;
}

#section-login input{
    width: 100%;
}

#form-cadastrar {
    padding: 50px;
    display: none;
}